body {
    margin: auto;
}

<<<<<<< HEAD:src/pages/login/login.css
.text-login {
    color: #A89914;
=======
/* Coluna de login */
.card-login{
    text-align: center;
    margin-top: 12%;
}

/* Textos dos campos login */
.text-login{
    color: #703131;
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css
    font-size: 35px;
    padding-top: 15px;
    margin-left: -170px;
    margin-bottom: 25px;
}

<<<<<<< HEAD:src/pages/login/login.css
.card-login {
=======
.text-login-error{
    color: #85290d;
    font-size: 20px;
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css
    text-align: center;
    padding-bottom: 25px;
}

<<<<<<< HEAD:src/pages/login/login.css
.input-login {
=======
/* Inputs dos dados */
.input-login{
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css
    width: 270px;
    height: 40px;
    border: solid 1px #626362;
    border-radius: 23px;
    margin-top: 7px;
    font-size: 18px;
    padding: 13px;
}

/* Botões*/
<<<<<<< HEAD:src/pages/login/login.css

.btns-login {
    margin-top: -25px;
    margin-left: 44.5%;
}

.btn-entrar-login {
=======
.btn-entrar-login{
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css
    color: white;
    background: #2B531A;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

.btn-entrar-login:hover:hover {
    cursor: pointer;
    background: #346b1c;
}

<<<<<<< HEAD:src/pages/login/login.css
.btn-sair-login {
=======
/* .btn-sair-login{
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css
    color: white;
    background: #85290d;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -30px;
    font-size: 17px;
    margin-bottom: 10px;
}

.btn-sair-login:hover:hover {
    cursor: pointer;
<<<<<<< HEAD:src/pages/login/login.css
    background: #a04529;
}
=======
    background-color: #a04529;
} */
>>>>>>> 39197e6a84a838daba84e29a41fd2685209f21ea:src/pages/login/index.css

.btn-cadastrar-login {
    color: white;
    background: #A89914;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn-cadastrar-login:hover:hover {
    cursor: pointer;
    background: #c5b41a;
}