body {
    margin: auto;
}

/* Coluna de login */
.card-login{
    text-align: center;
    margin-top: 12%;
}

/* Textos dos campos login */
.text-login{
    color: #703131;
    font-size: 35px;
    padding-top: 15px;
    margin-left: -170px;
    margin-bottom: 25px;
}

.text-login-error{
    color: #85290d;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
}

/* Inputs dos dados */
.input-login{
    width: 270px;
    height: 40px;
    border: solid 1px #626362;
    border-radius: 23px;
    margin-top: 7px;
    font-size: 18px;
    padding: 13px;
}

/* Botões*/
.btn-entrar-login{
    color: white;
    background-color: #2B531A;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

.btn-entrar-login:hover:hover{
    cursor: pointer;
    background-color: #346b1c;
}

/* .btn-sair-login{
    color: white;
    background-color: #85290d;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -30px;
    font-size: 17px;
    margin-bottom: 10px;
}

.btn-sair-login:hover:hover{
    cursor: pointer;
    background-color: #a04529;
} */

.btn-cadastrar-login{
    color: white;
    background-color: #A89914;
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn-cadastrar-login:hover:hover{
    cursor: pointer;
    background-color: #c5b41a;
}