
body{
    margin: auto;
    
}

.menu{
    background-color: #c5ecb5;
    color: #A89914;
    font-size: 25px;
    padding-left: 550px;
    margin-top: -190px;
}

.imgGomi {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.imgGomiNome {
    margin-top: 200px;
    margin-left: -100px;
    width: 300px;
    height: 250px;
}

.nomePagina {
    font-size: 30px;
    color: #A89914;
    text-align: center  ;
}

.fundo{
    margin-top: -180px;
    background-color: #c5ecb5;
}

.carrosel{
    width: 100%;
    height: 5%;

}