body {
    margin: auto;
}

/* Tables */
.table-foto-perfil {
    margin-top: 3%;
    width: 500px;
    margin-left: 47%;
}

.table-tamanho-perfil {
    margin-top: 3%;
    width: 500px;
    margin-left: 35%;
    border: solid 1px #2B531A;
}

.table-tamanho-perfil-amigos {
    width: 565px;
    margin-left: 35%;
    border: solid 1px #2B531A;
}

/* Tables conteúdo */
.text-dados-perfil{
    color: #A89914;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}

.text-dados-perfil-resposta {
    font-size: 19px;
    margin-right: 250px;
    padding-top: 10px;
    padding-left: 16px;
}

.text-dados-perfil-resposta-amigos {
    font-size: 19px;
    margin-right: -88px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2B531A;
    /* padding-top: 10px; */
    /* padding-left: 16px; */
}

/* CSS da foto de perfil */
.imgFotoPerfil{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}