/*Gradiente*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.gradientTimeline {
    background: linear-gradient(45deg, #a899145d, #346b1c27, #2b531a50);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}