.box-postagem{
    margin: 0 auto;
    border:none;
    border-radius:3px;
    width:60%;
    margin-top:15px;
    margin-bottom:5px;
    padding-bottom:10px;
    background: #08080810;
}

td{
    width:33.33%;
    text-align:center;
}

.td-ImgName{
    text-align:left;
}

.td-DataHora{
    text-align:right;
}

.td-corpoTexto{
    padding: 15px;
    text-align:justify;
}

.tr-CurtidasCom{
    margin-bottom: 25px;
}

.p-DataHora {
    margin-right: 10px;
    margin-top: 10px;
}

.imgPerfil{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:20px;
    margin-left:10px;
    margin-top:5px;
}

.imgPost {
    width: 40%;
    margin-bottom: 15px;
    border-radius:2px;
}

