body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS do Cabecalho */
.menu-cabecalho{
  background-color: #c5ecb5;
  color: #A89914;
  font-size: 25px;
  padding-left: 550px;
  margin-top: -190px;
}

/* CSS imagem do Gomi */
.imgGomi {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

/* CSS do nome do Gomi */
.imgGomiNome {
  margin-top: 200px;
  margin-left: -100px;
  width: 300px;
  height: 250px;
}