/* Texto da página de Descarte */
.text-descarte {
    text-align: center;
    font-size: 35px;
    color: #A89914;
}

.table-titulo{
    color: #2B531A;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.table-tamanho {
    width: 75%;
    margin-left: 13%;
}

.btn-salvar{
    color: white;
    background-color: #2B531A;
    border: none;
    width: 80px;
    height: 45px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -35px;
}

.btn-salvar:hover{
    cursor: pointer;
    background-color: #558541;
}